

[profile.default]
src = 'src/'
out = 'out'
libs = [ 'lib']
optimizer = true
optimizer_runs = 1
via_ir = true
solc_version = '0.8.25'
fs_permissions = [{ access = "read", path = "./"}]


[fmt]
number_underscore = 'thousands'
line_length = 100
# See more config options https://github.com/foundry-rs/foundry/tree/master/config