name: Slither Analysis

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Node
        uses: actions/setup-node@v4

      - name: Install Yarn
        run: npm install --global yarn

      - name: Install Nix
        uses: cachix/install-nix-action@v26

      - name: Configure Cachix
        uses: cachix/cachix-action@v14
        with:
          name: dapp

      - name: Install dependencies
        run: nix-shell --run 'make'

      - name: Build the contracts
        run: nix-shell --run 'make build'

      - name: Run Slither
        uses: crytic/slither-action@v0.4.1
        with:
          ignore-compile: true
          target: src
          fail-on: medium
