name: Slither Analysis
on:
  push:
  workflow_dispatch:
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - uses: crytic/slither-action@v0.4.1
        with:
          target: src
          fail-on: medium
